# 1. Loading libraries

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import mean_squared_error

# 2. Loading datasets

In [3]:
train_df = pd.read_csv('train.csv')
train_df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [5]:
test_df = pd.read_csv('test.csv')
test_df

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

# 3. Checking for null values

In [7]:
train_df.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [8]:
test_df.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

- We can see that there are no null values.
- We can drop the 'ID' column as it is not a feature relevant for regression.

In [9]:
train_df.drop('ID', inplace = True, axis = 1)
test_df.drop('ID', inplace = True, axis = 1)

In [10]:
#Finding columns with zero variance
zero_var=train_df.var()[train_df.var()==0].index.values
zero_var

array(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290',
       'X293', 'X297', 'X330', 'X347'], dtype=object)

In [11]:
#Drop zero variance columns as they are not relevant for PCA
train_df.drop(zero_var, inplace=True, axis=1)
test_df.drop(zero_var, inplace=True, axis=1)

We can check for the number of remaining feature columns with respective data types.

In [123]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 365 entries, y to X385
dtypes: float64(1), int64(356), object(8)
memory usage: 11.7+ MB

In [124]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 364 entries, X0 to X385
dtypes: int64(356), object(8)
memory usage: 11.7+ MB

# 4. Checking for unique values

In [125]:
for i in train_df.columns:
    print(f"Column { i}",train_df[i].unique())

Column y [130.81  88.53  76.26 ...  85.71 108.77  87.48]
Column X0 ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
Column X1 ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
Column X2 ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
Column X3 ['a' 'e' 'c' 'f' 'd' 'b' 'g']
Column X4 ['d' 'b' 'c' 'a']
Column X5 ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
Column X6 ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
Column X8 ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']
Column X10 [0 1]
Column X12 [0 1]
Column X13 [1 0]
Column X14 [0 1]
Column X15 [0 1]
Column X16 [0 1]
Column X17 [0 1]
Column X18 [1 0]
Column X19 [0 1]
Column X20 [0 1]
Column X21 [1 0]
Column X22 [0 1]
Column X23 [0 1]
Column X24 [0 1]
Column X26 [0 1]
Column X27 [0 1]
Column X28 [0 1]
Column X29 [0 1]
Column X30 [0 1]
Column X31 [1 0]
Column X32 [0 1]
Column X33 [0 1]
Column X34 [0 1]
Column X35 [1 0]
Column X36 [0 1]
Column X37 [1 0]
Column X38 [0 1]
Column X39 [0 1]
Column X40 [0 1]
Column X41 [0 1]
Column X42 [0 1]
Column X43 [0 1]
Column X44 [0 1]
Column X45 [0 1]
Column X46 [1 0]
Column X47 [0 1]
Column X48 [0 1]
Column X49 [0 1]
Column X50 [0 1]
Column X51 [0 1]
Column X52 [0 1]
Column X53 [0 1]
Column X54 [0 1]
Column X55 [0 1]
Column X56 [0 1]
Column X57 [0 1]
Column X58 [1 0]
Column X59 [0 1]
Column X60 [0 1]
Column X61 [0 1]
Column X62 [0 1]
Column X63 [0 1]
Column X64 [0 1]
Column X65 [0 1]
Column X66 [0 1]
Column X67 [0 1]
Column X68 [1 0]
Column X69 [0 1]
Column X70 [1 0]
Column X71 [0 1]
Column X73 [0 1]
Column X74 [1 0]
Column X75 [0 1]
Column X76 [0 1]
Column X77 [0 1]
Column X78 [0 1]
Column X79 [0 1]
Column X80 [0 1]
Column X81 [0 1]
Column X82 [0 1]
Column X83 [0 1]
Column X84 [0 1]
Column X85 [1 0]
Column X86 [0 1]
Column X87 [0 1]
Column X88 [0 1]
Column X89 [0 1]
Column X90 [0 1]
Column X91 [0 1]
Column X92 [0 1]
Column X94 [0 1]
Column X95 [0 1]
Column X96 [0 1]
Column X97 [0 1]
Column X98 [0 1]
Column X99 [0 1]
Column X100 [0 1]
Column X101 [0 1]
Column X102 [0 1]
Column X103 [0 1]
Column X104 [0 1]
Column X105 [0 1]
Column X106 [0 1]
Column X108 [0 1]
Column X109 [0 1]
Column X110 [0 1]
Column X111 [1 0]
Column X112 [0 1]
Column X113 [0 1]
Column X114 [1 0]
Column X115 [0 1]
Column X116 [1 0]
Column X117 [0 1]
Column X118 [1 0]
Column X119 [1 0]
Column X120 [1 0]
Column X122 [0 1]
Column X123 [0 1]
Column X124 [0 1]
Column X125 [0 1]
Column X126 [0 1]
Column X127 [0 1]
Column X128 [1 0]
Column X129 [0 1]
Column X130 [0 1]
Column X131 [1 0]
Column X132 [0 1]
Column X133 [0 1]
Column X134 [0 1]
Column X135 [0 1]
Column X136 [1 0]
Column X137 [1 0]
Column X138 [0 1]
Column X139 [0 1]
Column X140 [0 1]
Column X141 [0 1]
Column X142 [1 0]
Column X143 [0 1]
Column X144 [1 0]
Column X145 [0 1]
Column X146 [0 1]
Column X147 [0 1]
Column X148 [0 1]
Column X150 [1 0]
Column X151 [0 1]
Column X152 [0 1]
Column X153 [0 1]
Column X154 [0 1]
Column X155 [0 1]
Column X156 [1 0]
Column X157 [0 1]
Column X158 [0 1]
Column X159 [0 1]
Column X160 [0 1]
Column X161 [0 1]
Column X162 [0 1]
Column X163 [0 1]
Column X164 [0 1]
Column X165 [0 1]
Column X166 [0 1]
Column X167 [0 1]
Column X168 [0 1]
Column X169 [0 1]
Column X170 [1 0]
Column X171 [0 1]
Column X172 [0 1]
Column X173 [0 1]
Column X174 [0 1]
Column X175 [0 1]
Column X176 [0 1]
Column X177 [0 1]
Column X178 [0 1]
Column X179 [1 0]
Column X180 [0 1]
Column X181 [0 1]
Column X182 [0 1]
Column X183 [0 1]
Column X184 [1 0]
Column X185 [0 1]
Column X186 [0 1]
Column X187 [1 0]
Column X189 [1 0]
Column X190 [0 1]
Column X191 [0 1]
Column X192 [0 1]
Column X194 [1 0]
Column X195 [0 1]
Column X196 [0 1]
Column X197 [0 1]
Column X198 [0 1]
Column X199 [0 1]
Column X200 [0 1]
Column X201 [0 1]
Column X202 [0 1]
Column X203 [0 1]
Column X204 [1 0]
Column X205 [0 1]
Column X206 [0 1]
Column X207 [0 1]
Column X208 [0 1]
Column X209 [1 0]
Column X210 [0 1]
Column X211 [0 1]
Column X212 [0 1]
Column X213 [0 1]
Column X214 [0 1]
Column X215 [0 1]
Column X216 [0 1]
Column X217 [0 1]
Column X218 [0 1]
Column X219 [0 1]
Column X220 [1 0]
Column X221 [0 1]
Column X222 [0 1]
Column X223 [0 1]
Column X224 [0 1]
Column X225 [0 1]
Column X226 [0 1]
Column X227 [0 1]
Column X228 [0 1]
Column X229 [0 1]
Column X230 [0 1]
Column X231 [0 1]
Column X232 [0 1]
Column X234 [1 0]
Column X236 [0 1]
Column X237 [1 0]
Column X238 [0 1]
Column X239 [0 1]
Column X240 [0 1]
Column X241 [0 1]
Column X242 [0 1]
Column X243 [0 1]
Column X244 [0 1]
Column X245 [0 1]
Column X246 [0 1]
Column X247 [0 1]
Column X248 [0 1]
Column X249 [0 1]
Column X250 [0 1]
Column X251 [0 1]
Column X252 [0 1]
Column X253 [0 1]
Column X254 [0 1]
Column X255 [0 1]
Column X256 [0 1]
Column X257 [0 1]
Column X258 [0 1]
Column X259 [0 1]
Column X260 [0 1]
Column X261 [0 1]
Column X262 [1 0]
Column X263 [1 0]
Column X264 [0 1]
Column X265 [0 1]
Column X266 [1 0]
Column X267 [0 1]
Column X269 [0 1]
Column X270 [0 1]
Column X271 [0 1]
Column X272 [0 1]
Column X273 [1 0]
Column X274 [0 1]
Column X275 [1 0]
Column X276 [0 1]
Column X277 [0 1]
Column X278 [0 1]
Column X279 [0 1]
Column X280 [0 1]
Column X281 [0 1]
Column X282 [0 1]
Column X283 [0 1]
Column X284 [0 1]
Column X285 [1 0]
Column X286 [0 1]
Column X287 [0 1]
Column X288 [0 1]
Column X291 [0 1]
Column X292 [0 1]
Column X294 [0 1]
Column X295 [0 1]
Column X296 [0 1]
Column X298 [0 1]
Column X299 [0 1]
Column X300 [0 1]
Column X301 [0 1]
Column X302 [0 1]
Column X304 [0 1]
Column X305 [0 1]
Column X306 [1 0]
Column X307 [0 1]
Column X308 [0 1]
Column X309 [0 1]
Column X310 [0 1]
Column X311 [0 1]
Column X312 [0 1]
Column X313 [0 1]
Column X314 [0 1]
Column X315 [0 1]
Column X316 [1 0]
Column X317 [0 1]
Column X318 [0 1]
Column X319 [0 1]
Column X320 [0 1]
Column X321 [0 1]
Column X322 [0 1]
Column X323 [0 1]
Column X324 [1 0]
Column X325 [0 1]
Column X326 [0 1]
Column X327 [1 0]
Column X328 [0 1]
Column X329 [1 0]
Column X331 [0 1]
Column X332 [0 1]
Column X333 [0 1]
Column X334 [1 0]
Column X335 [0 1]
Column X336 [0 1]
Column X337 [0 1]
Column X338 [0 1]
Column X339 [0 1]
Column X340 [0 1]
Column X341 [0 1]
Column X342 [0 1]
Column X343 [0 1]
Column X344 [0 1]
Column X345 [0 1]
Column X346 [0 1]
Column X348 [0 1]
Column X349 [0 1]
Column X350 [0 1]
Column X351 [0 1]
Column X352 [0 1]
Column X353 [0 1]
Column X354 [1 0]
Column X355 [0 1]
Column X356 [0 1]
Column X357 [0 1]
Column X358 [0 1]
Column X359 [0 1]
Column X360 [0 1]
Column X361 [1 0]
Column X362 [0 1]
Column X363 [0 1]
Column X364 [0 1]
Column X365 [0 1]
Column X366 [0 1]
Column X367 [0 1]
Column X368 [0 1]
Column X369 [0 1]
Column X370 [0 1]
Column X371 [0 1]
Column X372 [0 1]
Column X373 [0 1]
Column X374 [0 1]
Column X375 [0 1]
Column X376 [0 1]
Column X377 [1 0]
Column X378 [0 1]
Column X379 [0 1]
Column X380 [0 1]
Column X382 [0 1]
Column X383 [0 1]
Column X384 [0 1]
Column X385 [0 1]

From the output above we see that except for first 9 columns, all contain 0 and 1.

# 5. Import Encoder
There are certain advantages of using `OrdinalEncoder()`:  
- There are categorical variables in test data not present in training data, `OrdinalEncoder()` provides way to handle them via `handle_unknown` argument.  
- One can encode multidimensional dataframe object thus avoiding looping over all columns successively.

In [126]:
from sklearn.preprocessing import OrdinalEncoder
enc=OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

# 6. Create index of object type columns

In [127]:
encode_col = train_df.select_dtypes(include=['object', 'category']).columns
encode_col

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

# 7. Fit and Transform categorical features

In [128]:
# Only need to fit object type features
enc.fit(train_df[encode_col])

train_df[encode_col]=enc.transform(train_df[encode_col])
# transform test data from the mappings learned during fitting training data.
test_df[encode_col]=enc.transform(test_df[encode_col])

In [129]:
#convert back to DataFrame as OrdinalEncoder outputs array object.
train_df=pd.DataFrame(train_df)
train_df

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,32.0,23.0,17.0,0.0,3.0,24.0,9.0,14.0,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,32.0,21.0,19.0,4.0,3.0,28.0,11.0,14.0,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,20.0,24.0,34.0,2.0,3.0,27.0,9.0,23.0,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,20.0,21.0,34.0,5.0,3.0,27.0,11.0,4.0,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,20.0,23.0,34.0,5.0,3.0,12.0,3.0,13.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,107.39,8.0,20.0,16.0,2.0,3.0,0.0,3.0,16.0,0,...,1,0,0,0,0,0,0,0,0,0
4205,108.77,31.0,16.0,40.0,3.0,3.0,0.0,7.0,7.0,0,...,0,1,0,0,0,0,0,0,0,0
4206,109.22,8.0,23.0,38.0,0.0,3.0,0.0,6.0,4.0,0,...,0,0,1,0,0,0,0,0,0,0
4207,87.48,9.0,19.0,25.0,5.0,3.0,0.0,11.0,20.0,0,...,0,0,0,0,0,0,0,0,0,0
4208,110.85,46.0,19.0,3.0,2.0,3.0,0.0,6.0,22.0,0,...,1,0,0,0,0,0,0,0,0,0

In [130]:
test_df=pd.DataFrame(test_df)
test_df

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,20.0,23.0,34.0,5.0,3.0,-1.0,0.0,22.0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,40.0,3.0,7.0,0.0,3.0,-1.0,6.0,24.0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,20.0,23.0,16.0,5.0,3.0,-1.0,9.0,9.0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,20.0,13.0,34.0,5.0,3.0,-1.0,11.0,13.0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,43.0,20.0,16.0,2.0,3.0,28.0,8.0,12.0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,7.0,9.0,16.0,5.0,3.0,0.0,9.0,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,40.0,1.0,7.0,3.0,3.0,0.0,9.0,24.0,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,45.0,23.0,16.0,5.0,3.0,0.0,3.0,22.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,8.0,23.0,16.0,0.0,3.0,0.0,2.0,16.0,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,40.0,1.0,7.0,2.0,3.0,0.0,6.0,17.0,0,0,...,1,0,0,0,0,0,0,0,0,0

# 8. Import PCA

In [140]:
from sklearn.decomposition import PCA
pca=PCA(n_components = 0.98,svd_solver='full')

In [141]:
#create feature and target variables
X= train_df.drop('y',axis=1)
y=train_df['y']

In [142]:
#split into training and validation set
X_train , X_val , y_train , y_val = train_test_split(X,y,test_size=0.2,random_state=42)

In [143]:
#fit PCA
pca.fit(X)

PCA(n_components=0.98, svd_solver='full')

In [145]:
pca.n_components_

14

We obtain 14 principal components. We can now observe the proportion of the dataset's variance that each principal component accounts for.

In [146]:
pca.explained_variance_ratio_

array([0.38334782, 0.21388033, 0.13261866, 0.11826642, 0.09206008,
       0.01590604, 0.0074454 , 0.00433701, 0.00294021, 0.00241796,
       0.00236488, 0.00203229, 0.00167204, 0.00148111])

In [147]:
#Perform dimensionality reduction
pca_X_train = pd.DataFrame(pca.transform(X_train))
pca_X_val = pd.DataFrame(pca.transform(X_val))
pca_test = pd.DataFrame(pca.transform(test_df))

In [148]:
#Create XGBoost Regression model
model = xgb.XGBRegressor(objective='reg:linear',learning_rate=0.1)

In [149]:
#Fit the model
model.fit(pca_X_train,y_train)

[16:43:19] WARNING: ../src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=2,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [154]:
#Obtaining predicted target variable
pred_y_val = model.predict(pca_X_val)
Predicted_Data = pd.DataFrame()
Predicted_Data['y'] = pred_y_val
Predicted_Data.head()

            y
0   93.836418
1   96.475525
2  107.569084
3   78.740082
4  107.925537

In [151]:
#Final Loss value
mse_score = mean_squared_error(y_val,pred_y_val)

In [152]:
#print loss value
print(mse_score)

82.3270553095433